.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.page-item.active .page-link {
    border: 1px solid #dee2e6;
}

.active a {
    background-color: #fff !important;
    color: #343a40 !important;
}

.active a:hover {
    background-color: lightgrey !important;
    color: #ffffff !important;
}