@import "banner.css";
@import "start-pagina.css";
@import "productPagina.css";
@import "notavailable.css";


@font-face {
    font-family: 'BigNoodleTitling';
    font-style: normal;
    font-weight: normal;
    src: local('BigNoodleTitling'), url('http://localhost/ICTM1m3/assets/fonts/big_noodle_titling.woff') format('woff');

}


@font-face {
    font-family: 'BigNoodleTitling Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('BigNoodleTitling Oblique'), url('http://localhost/ICTM1m3/assets/fonts/big_noodle_titling_oblique.woff') format('woff');
}

html {
    height: 100%
}

body {
    min-height: 100%
}

.form {
    border: 1px solid lightgray;
    margin: 2px;
}

.plaatseenreview {
    background-color: #00adef;
}

.text_review {
    width: inherit;
}

.footer {
    position: relative;
    bottom: 0;
}

.discount-icon {
    color: green;
    position: absolute;
    z-index: -1;
    top: 0px;
    font-size: 20px;
}

.review-modal {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 93px; /* Location of the box */
    display: flex;
    justify-content: center;
    top: 0;

    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.review-modal-item {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    background: white;
    height: 400px;
    width: 600px;
    border: none;
}

.modal-top {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    height: 70px;
    width: 600px;
    color: white;
    padding: 15px;
    font: 30px "BigNoodleTitling Oblique";
}

.modal-inhoud {
    padding: 20px;
}
