/*ZOEKEN*/
.search-bar:hover:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid var(--blue);
    outline: 0;
    box-shadow: none;
}

.btn-search {
    font-size: 18px;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0 5px 5px 0;
}

.btn-search:hover {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}

/*STOCKITEMS*/
.divStockGroup {
    padding-left: 1px;
    padding-right: 1px;
    background: var(--blue);

    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 2px;

    height: 50px;
    text-align: center;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divStockGroup .discount-icon {
    font-size: 13px;
    color: green;
}

.divStockGroup-selected {
    background: var(--grey);
    border-radius: 0px 0px 5px 5px;
    border-width: 0 2px 2px 2px;
    border-bottom-color: var(--blue);
}

.divStockGroup:hover {
    background: lightgrey;
    border-width: 0 2px 2px 2px;
    border-bottom-color: var(--blue);
}

.divStockGroup:hover .divStockGroup-selected {
    background: var(--blue);
    border-width: 0 2px 2px 2px;
    border-bottom-color: var(--blue);
}

.stockGroup {
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.divStockGroup-selected .stockGroup {
    color: var(--blue);
}

.divStockGroup-selected .stockGroup:hover {
    text-decoration: none;
    color: var(--blue);
}

.stockGroup:hover {
    text-decoration: none;
    color: var(--blue);
}

.top-navbar {
    background-color: var(--grey);
    /*padding: 0px 16px 0px 16px;*/
}

.icon-navbar {
    font-size: 20px;
}
