/* form properties */
.form-control:hover:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #00ADEF;
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

/* Collapse on hover*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border: 1px solid #00ADEF;
}

/* Dropdown item change color on hover */
.dropdown-item:hover {
    color: #00ADEF;
    background-color: #d4d9db;
}

/* Button */
.btn {
    background-color: #F1F1F1;
    border-radius: 0px 0px 15px 15px;
    color: #00ADEF;
    padding: 0 0 0 0;
    font-size: 15px;
    border: none;
}

.btn:hover {
    background-color: #F1F1F1;
    color: #00ADEF;
    border: 1px solid #00ADEF;
    border-top-width: 0px;
}

.top-navbar {
    background-color: #f1f1f1;
    padding: 0px 16px 0px 16px;
}

.button-navbar {
    background-color: rgba(0, 0, 0, 0.0);
}

