
.top-navbar {
    max-height: 100px;
    padding: 5px;
    height: 100%;
    align-items: center;
    margin: 0;
}

.search-input {
    font-size: 18px;
    width: 700px !important;
    border: 1px solid var(--blue);
    border-radius: 7px 0 0 7px;
}

.navbar-image {
    max-height: 75px;
}

.navbar-dropdown {
    margin-right: 20px !important;
    float: right;
    margin-top: 0px;
    text-decoration: none;
    color: dimgrey;
    font-weight: 400;
    font-size: 17px;
}

.navbar-dropdown:hover {
    text-decoration: none;
    color: dimgrey;
    font-weight: 400;
    margin-top: 0px;
}

.StockIsRed {
    color: red;
    font-weight: 500;
}

.StockIsDanger {
    color: orange;
    font-weight: 500;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.icon-navbar {
    font-size: 20px;
}

#wrapper {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    /*background-color: #000;*/
}
